$primary-color : #40586f;
$success-color : #51cf66;
$warning-color : #fcc419;
$danger-color : #ff6b6b;
$info-color : #868e96;

$body-bg : #e9eef3;
$sidebar-bg:#f8f9fb;
$navbar-bg : #f8f9fb;

$font-family : system-ui,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
